---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15tndSBYANZ2AhsmEhcfQANF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15tndSBYANZ2AhsmEhcfQANF",
          "created": 1429569902,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_15tndSBYANZ2AhsmkV0eIIcd",
              "object": "charge",
              "created": 1429569902,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15tndRBYANZ2Ahsm4HFW0FZu",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2016,
                "fingerprint": "Z9AjS2ZYDjKqxwaU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_65zcQiDhrNMRhN"
              },
              "captured": true,
              "balance_transaction": "txn_15tndSBYANZ2Ahsm5eULLP4H",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_65zcQiDhrNMRhN",
              "invoice": "in_15tndSBYANZ2AhsmX5z21nnP",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15tndSBYANZ2AhsmkV0eIIcd/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_65zcXfNAy17Cs1",
          "api_version": "2015-03-24"
        }
  recorded_at: Mon, 20 Apr 2015 23:10:33 GMT
recorded_with: VCR 2.9.3
