---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15tp7aBYANZ2AhsmIzXTV1hX",
          "livemode": false,
          "created": 1429575614,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15tp7aBYANZ2AhsmPXvc25hw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "Z9AjS2ZYDjKqxwaU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "54.215.6.163"
        }
  recorded_at: Tue, 21 Apr 2015 00:20:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_15tp7aBYANZ2AhsmIzXTV1hX
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15tp7bBYANZ2AhsmM6OLiUQD",
          "object": "charge",
          "created": 1429575615,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15tp7aBYANZ2AhsmPXvc25hw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "Z9AjS2ZYDjKqxwaU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_15tp7bBYANZ2AhsmPz1b18ZC",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_15tp7bBYANZ2AhsmM6OLiUQD/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 21 Apr 2015 00:20:15 GMT
recorded_with: VCR 2.9.3
