%section.reset_password.container
  .row
    .col-sm-10.col-sm-offset-1
      %form{:action => '/reset_password', :method => 'post'}
        %header
          %h1 Reset Your Password
        %fieldset.form-group
          %label New Password
          .row
            .col-sm-4
              = password_field 'user', 'password', name: 'password', class: 'form-control'
              = text_field 'user', 'token', value: "#{@user.token}", name: 'token', type: 'hidden'
        %fieldset.form-group.action
          %input(type="submit" value="Reset Password" class="btn btn-default")