---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2018&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15sjI5BYANZ2AhsmKwffaQ2w",
          "livemode": false,
          "created": 1429314873,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15sjI5BYANZ2AhsmgQDA8vAI",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "Z9AjS2ZYDjKqxwaU",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          },
          "client_ip": "54.215.6.163"
        }
  recorded_at: Fri, 17 Apr 2015 23:54:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15sjI5BYANZ2AhsmKwffaQ2w&plan=regular
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1429314874,
          "id": "cus_64t44ZFuGUIUZ7",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64t44ZFuGUIUZ7/subscriptions",
            "data": [
              {
                "id": "sub_64t4lJVObgEznI",
                "plan": {
                  "interval": "month",
                  "name": "Regular",
                  "created": 1429187181,
                  "amount": 999,
                  "currency": "usd",
                  "id": "regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1429314874,
                "status": "active",
                "customer": "cus_64t44ZFuGUIUZ7",
                "cancel_at_period_end": false,
                "current_period_start": 1429314874,
                "current_period_end": 1431906874,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64t44ZFuGUIUZ7/sources",
            "data": [
              {
                "id": "card_15sjI5BYANZ2AhsmgQDA8vAI",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "Z9AjS2ZYDjKqxwaU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64t44ZFuGUIUZ7"
              }
            ]
          },
          "default_source": "card_15sjI5BYANZ2AhsmgQDA8vAI"
        }
  recorded_at: Fri, 17 Apr 2015 23:54:35 GMT
recorded_with: VCR 2.9.3
