!!! 5
%html(lang="en-US")
  %head
  %body
    %h4 Your Myflix account was locked.
    %p Your subscription payment has failed, and we had to lock your account. You will not be able to access MyFlix until you contact us at restore@myflix.com.