!!! 5
%html(lang="en-US")
  %head
  %body
    %h4 Getting back on MyFlix
    %p You have just requested a password reset on MyFlix. To reset your password, please go to #{@reset_link}. If you do not recall this request, please contact our customer support as soon as you can.