!!! 5
%html(lang="en-US")
  %head
  %body
    %h4 Getting back on MyFlix
    %p You have just requested a password reset on MyFlix. To reset your password, please click this link:
    %p= link_to 'Reset your password', @reset_link
    %p If you do not recall this request, please contact our customer support as soon as you can.