---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_15sje7BYANZ2AhsmGPrSt8P9&email=fake%40email.com&plan=regular
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-01-11'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-01-11'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1429316239,
          "id": "cus_64tQAbIaSTceu4",
          "livemode": false,
          "description": null,
          "email": "fake@email.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64tQAbIaSTceu4/subscriptions",
            "data": [
              {
                "id": "sub_64tQOns2jkCRMC",
                "plan": {
                  "interval": "month",
                  "name": "Regular",
                  "created": 1429187181,
                  "amount": 999,
                  "currency": "usd",
                  "id": "regular",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1429316239,
                "status": "active",
                "customer": "cus_64tQAbIaSTceu4",
                "cancel_at_period_end": false,
                "current_period_start": 1429316239,
                "current_period_end": 1431908239,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64tQAbIaSTceu4/cards",
            "data": [
              {
                "id": "card_15sje7BYANZ2AhsmSs0pLa6L",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "Z9AjS2ZYDjKqxwaU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64tQAbIaSTceu4"
              }
            ]
          },
          "default_card": "card_15sje7BYANZ2AhsmSs0pLa6L",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64tQAbIaSTceu4/sources",
            "data": [
              {
                "id": "card_15sje7BYANZ2AhsmSs0pLa6L",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "Z9AjS2ZYDjKqxwaU",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64tQAbIaSTceu4"
              }
            ]
          },
          "default_source": "card_15sje7BYANZ2AhsmSs0pLa6L"
        }
  recorded_at: Sat, 18 Apr 2015 00:17:20 GMT
recorded_with: VCR 2.9.3
