---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_15v6ZQBYANZ2AhsmLhKpdkmh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_nsVsYy52JP4PgGyO5gnJYJv8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-03-24'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_15v6ZQBYANZ2AhsmLhKpdkmh",
          "created": 1429881016,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_15v6ZQBYANZ2AhsmnxsueRRy",
              "object": "charge",
              "created": 1429881016,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_15v6YhBYANZ2AhsmjuZAfTwg",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "XDvOIJbkTDIoebS2",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_661Ek9s9uRtiu7"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_661Ek9s9uRtiu7",
              "invoice": null,
              "description": "will fail",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_15v6ZQBYANZ2AhsmnxsueRRy/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 2,
          "request": "iar_67LFXMD8SoS9Lm",
          "api_version": "2015-03-24"
        }
  recorded_at: Fri, 24 Apr 2015 13:13:38 GMT
recorded_with: VCR 2.9.3
